@import "../../styles/responsive.scss";
@import "../../styles/color.scss";

.about-me {
	width: 90%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.description {
		text-align: left;
		width: 50%;
		font-weight: 500;
		z-index: 20;
	}

	.icons {
		z-index: 20;
		margin-top: 2.5%;
		font-size: 2.4rem;
		font-weight: 500;
		a {
			cursor: pointer;
			color: $dark-gray;
			margin: 5px 10px;
		}
		.dark {
			color: $light-gray;
		}
	}
}

@media screen and (max-width: $mobile-max-width) {
	.about-me {
		width: 100%;
		h1 {
			font-size: 2.8rem;
		}
		.description {
			width: 100%;
		}
	}
}
