@import "../../styles/responsive.scss";
@import "../../styles/color.scss";

.introduction {
	width: 90%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.link {
		font-weight: 700;
		text-decoration: none;
	}

	.left-container {
		display: flex;
		justify-content: flex-end;
		width: 45%;
		padding: 0 5%;
		box-sizing: border-box;

		.profile-image {
			border-radius: 50%;
			width: calc(15rem + 5vw);
			height: calc(15rem + 5vw);
			object-fit: cover;
			box-shadow: $shadow-2;
			z-index: 50;
		}
		.profile-image-dark {
			box-shadow: $shadow-2-dark;
		}
	}

	.right-container {
		width: 45%;
		text-align: left;
		h1 {
			font-size: 5rem;
			font-weight: bold;
		}
		.intro-text {
			font-weight: 500;
			font-size: 1.2rem;
		}
	}
}

@media screen and (max-width: 768px) {
	.introduction {
		width: 100%;
		max-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.left-container {
			width: 100%;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.profile-image {
				width: calc(15rem + 20vw);
				height: calc(15rem + 20vw);
			}
		}
		.right-container {
			width: 100%;
			padding: 0;
			margin-top: 5vh;
			text-align: center;
		}
	}
}
