$light-gray: #ededed;
$medium-gray: #bababa;
$dark-gray: #333;

$primary: #1f7774;
$secondary: #a47347;
$tertiary: #d5d2cb;

$shadow-1: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$shadow-1-dark: rgba(255, 255, 255, 0.8) 0px 2px 16px 0px;
$shadow-2: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
$shadow-2-dark: rgba(205, 205, 162, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;

$glass-background: rgba(255, 255, 255, 0.3);
$glass-background-dark: rgba(255, 255, 255, 0.7);
