.App {
	text-align: center;
	height: 100%;
	width: 100vw;
	color: var(--text-primary);
	background-color: var(--background);
	font-size: large;
	font-weight: bold;
	transition: all 0.5s;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	padding-top: 2.5vh;
	padding-bottom: 7.5vh;
}

.container {
	position: relative;
	z-index: 3;
}

.toggle-theme-button {
	position: inherit;
	z-index: 3;
}

.background-particles {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.content {
	z-index: 10;
	padding-left: 10%;
}

@media screen and (max-width: 767px) {
	.content {
		padding: 0 5%;
	}
}
