* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: inherit;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	font-family: "Lato", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* 
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

::selection {
	background-color: #ffdc00;
}

:root {
	--background: white;
	--text-primary: black;
	--text-secondary: #d3d3d3;
	--dark-gray: #333;
	--palette-1: #007bff;
	--palette-2: #60ab4f;
	--stack-background: #ededed;
}
[data-theme="dark"] {
	--background: black;
	--text-primary: white;
	--text-secondary: grey;
	--palette-1: #36f1c7;
	--palette-2: #a7f845;
	--stack-background: #333;
}
